@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
font{
    font-family: Bebas Neue;
    font-weight: 400;
    font-size: 120px;
    line-height: 120px;
}
body{
    background-color: #F4F3F8;
}

.heroine{
    display: flex;
    justify-content: space-between;
    margin:  50px 100px;
}

.right{
    width: 50%;
}

.left{
    width: 50%;
}

.right img {
    width: -webkit-fill-available;
}

.luxe{
    width: 70%;
}

.button{
    border: none;
    padding: 20px 30px;
    border-radius: 30px;
    background-color: #DC0155;

}

span{
    color: #DC0155;
}